#
# /etc/systemd/system/rc.client.service
#
[Unit]
Description=RC.Machine Client
Requires=network-online.target

[Service]
WorkingDirectory=/opt/rc.machine/
Type=simple
Restart=always
RemainAfterExit=yes
User=rc-user
ExecStart=client
Environment=RUST_LOG=debug
Environment=RUST_BACKTRACE=full

[Install]
WantedBy=default.target
