#
# /etc/systemd/system/rc.server.service
#
[Unit]
Description=RC.Machine Server
Requires=network-online.target

[Service]
WorkingDirectory=/opt/rc.machine/
Type=simple
Restart=always
RemainAfterExit=yes
User=root
ExecStart=server
Environment=RUST_LOG=debug
Environment=RUST_BACKTRACE=full

[Install]
WantedBy=default.target
